body {
  background-image: url("./assets/background2.jpeg");
  overflow-x: hidden;
}



p {
  text-align: justify;
  font-size: 20px;
  font-family: "Nova Flat", cursive;
}

h1 {
  font-size: 50px;
  font-family: "Squada One", cursive;
}

nav {
    margin-bottom: 20px;
  }
  
  nav a {
    font-family: "Righteous", cursive;
  }

.card {
margin: 50px;
}

.card-body {
  padding: 10px;
  background-color: #ece5dd;
}

footer {
  text-align: center;
  background-color: #ece5dd;
  margin-top: 3rem;
  overflow-x: hidden;
}

@media screen and (max-width: 356px) {
  .card img {
    width: 357px;
  }
}
