body {
  background-color: lightgray;
}

p {
    text-align: justify;
}

.container {
  padding: 20px;
}

section {
  margin: 20px;
}


.card-body {
  padding: 10px;
}

.card-columns {
    @media media-breakpoint-only(lg) {
      column-count: 4;
    }
    @media media-breakpoint-only(xl) {
      column-count: 5;
    }
  }  
